.raven-alert.MuiAlert-root {
  font-family: 'Source Sans 3', sans-serif;
  border-radius: 8px;
}

.raven-alert .MuiAlertTitle-root {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
}

.raven-alert.MuiAlert-standardSuccess {
  background-color: #E8F5E9;
  color: #1B5E20;
}

.raven-alert.MuiAlert-standardError {
  background-color: #FFEBEE;
  color: #B71C1C;
}

.raven-alert.MuiAlert-standardWarning {
  background-color: #FFF8E1;
  color: #FF6F00;
}

.raven-alert.MuiAlert-standardInfo {
  background-color: #E1F5FE;
  color: #01579B;
}
