.raven-pagination {
  font-family: 'Source Sans 3', sans-serif;
}

.raven-pagination .MuiPaginationItem-root {
  font-family: 'Source Sans 3', sans-serif;
  border-radius: 8px;
}

.raven-pagination .MuiPaginationItem-root.Mui-selected {
  background-color: #4A148C;
  color: #fff;
}

.raven-pagination .MuiPaginationItem-root.Mui-selected:hover {
  background-color: #6A1B9A;
}

.raven-pagination .MuiPaginationItem-root:hover:not(.Mui-selected) {
  background-color: #F3E5F5;
}
