.raven-dialog .MuiDialog-paper {
  font-family: 'Source Sans 3', sans-serif;
  border-radius: 24px;
}

.raven-dialog__title.MuiDialogTitle-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
  padding: 16px 24px;
}

.raven-dialog__close.MuiIconButton-root {
  margin-right: -8px;
  color: rgba(0, 0, 0, 0.54);
}

.raven-dialog__content.MuiDialogContent-root {
  font-family: 'Source Sans 3', sans-serif;
  padding: 8px 24px 16px;
}

.raven-dialog__actions.MuiDialogActions-root {
  padding: 8px 24px 16px;
}
