.analytics-chart-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.analytics-chart-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  min-height: 65px;
  border-bottom: 1px solid #f3e5f5;
  background-color: #fff;
}

.analytics-chart-card__header-action {
  flex-shrink: 0;
}

.analytics-chart-card__body {
  flex: 1;
  padding: 24px;
  background-color: #fff;
}
