.raven-circular-progress {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.raven-circular-progress .MuiCircularProgress-root {
  color: #4A148C;
}

.raven-circular-progress__label.MuiTypography-root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}
