.raven-select.MuiTextField-root {
  font-family: 'Source Sans 3', sans-serif;
}

.raven-select .MuiInputBase-root {
  font-family: 'Source Sans 3', sans-serif;
  border-radius: var(--raven-radius-default);
}

.raven-select .MuiInputLabel-root {
  font-family: 'Source Sans 3', sans-serif;
  color: var(--raven-text-secondary);
}

.raven-select .MuiInputLabel-root.Mui-focused {
  color: var(--raven-purple-900);
}

.raven-select .MuiOutlinedInput-notchedOutline legend {
  font-family: 'Source Sans 3', sans-serif !important;
  font-weight: 500 !important;
  font-size: calc(13px * 0.75) !important;
}
.raven-select .MuiOutlinedInput-notchedOutline legend > span {
  font-family: 'Source Sans 3', sans-serif !important;
  font-weight: 500 !important;
}

.raven-select .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--raven-purple-900);
}

.raven-select .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--raven-purple-800);
}

.raven-select .MuiSelect-select {
  font-family: 'Source Sans 3', sans-serif;
}
