.raven-button-group.MuiButtonGroup-root {
  gap: var(--raven-button-group-gap, 8px);
}

.raven-button-group.MuiButtonGroup-contained {
  box-shadow: none;
  background-color: transparent;
}

.raven-button-group .MuiButtonGroup-grouped {
  border-radius: 50px;
}

.raven-button-group.MuiButtonGroup-horizontal .MuiButtonGroup-grouped:not(:first-of-type) {
  margin-left: 0;
}

.raven-button-group.MuiButtonGroup-vertical .MuiButtonGroup-grouped:not(:first-of-type) {
  margin-top: 0;
}

.raven-button-group.MuiButtonGroup-horizontal .MuiButtonGroup-groupedOutlined:not(:first-of-type) {
  border-left-width: 1px;
}

.raven-button-group.MuiButtonGroup-vertical .MuiButtonGroup-groupedOutlined:not(:first-of-type) {
  border-top-width: 1px;
}
