.raven-switch.MuiFormControlLabel-root {
  font-family: 'Source Sans 3', sans-serif;
}

.raven-switch .MuiTypography-root {
  font-family: 'Source Sans 3', sans-serif;
  color: var(--raven-text-primary);
}

.raven-switch .MuiSwitch-switchBase.Mui-checked {
  color: var(--raven-purple-900);
}

.raven-switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: var(--raven-purple-800);
}

.raven-switch .MuiSwitch-switchBase:hover {
  background-color: var(--raven-purple-100);
}
