.raven-radio-group.MuiFormControl-root {
  font-family: 'Source Sans 3', sans-serif;
}

.raven-radio-group .MuiFormLabel-root {
  font-family: 'Source Sans 3', sans-serif;
  color: var(--raven-text-secondary);
}

.raven-radio-group .MuiFormLabel-root.Mui-focused {
  color: var(--raven-purple-900);
}

.raven-radio-group .MuiTypography-root {
  font-family: 'Source Sans 3', sans-serif;
  color: var(--raven-text-primary);
}

.raven-radio-group .MuiRadio-root.Mui-checked {
  color: var(--raven-purple-900);
}

.raven-radio-group .MuiRadio-root:hover {
  background-color: var(--raven-purple-100);
}
